# Node modules
node_modules/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*
!.env.example

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Coverage directory
coverage/

# Optional npm cache directory
.npm/

# Next.js export
export/

# TypeScript cache
*.tsbuildinfo

# SASS cache
.sass-cache/

# Mac system files
Icon?
certificates